
name: Build with Maven

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      APP: HelloWorld
      RELEASE_INFO: 16.07-DEMO

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
    - name: Generate build number
      uses: einaregilsson/build-number@v2
      with:
        token: ${{secrets.github_token}}
    - name: Print the build number
      run: echo "Generate build number is" $BUILD_NUMBER
    - name: Tag generator
      run: echo ${{ env.APP }}-${{ env.RELEASE_INFO }}-$BUILD_NUMBER
    - name: Pushing tag info to GitHub
      run: |
        echo :: set-env name=tag_info::${{ env.APP }}-${{ env.RELEASE_INFO }}-$BUILD_NUMBER
        git tag $tag_info
        git push origin $tag_info
    - name: Build with Maven
      run: mvn -B package --file pom.xml
